body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

<!-- HEADER -->

header {
  display: flex;
  height: 69px;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid seashell;
  z-index: 1;
  background-color: black;
  top: 0;
  align-items: center;
  justify-content: space-between;
}

header .logo  {
  padding-left: 10px;
  height: 50px;
}

header nav {
  padding-right: 10px;
}

nav span {
  padding: 10px;
}

span a {
  color: seashell;
}

#mission {
  display: flex;
  top: 62px;
  justify-content: center;
  background-image: url(../resources/images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  align-items: center;
  position: relative;
}

.content {
  background-color: black;
  width: 100%;
  align-content: center;
  height: 103px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content h2 {
  margin: 10px 0 20px 0;
}

.content h4 {
  margin-top: 0px;
}

#month {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 114px;
  width: 1000px;
  height: 700px;
  margin: 0 auto;
  align-items: center;
}

.teacontent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teacontent h4 {
  margin: 10px 0 20px 0;
}

.teacontent h4 {
  margin-top: 0px;
}

.steeping {
  display: inline-flex;
  flex-flow: wrap;
  justify-content: center;


}

.steeping img {
  height: 200px;
  width: 300px;
}

.box {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  align-items: center;
  justify-content: center;
}

span {
  padding-top: 10px;
  font-weight: bold;
}
